body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #007F73;
}

div {
    border-radius:10px;
}

#az {
    width:25%;
    margin:auto;
    border-radius: 50%;
}

#fb{
    width:10%;
    transition:0.5s;
    border-radius: 10%;
}

#fb:hover{
    transition:0.5s;
    width:12%;
    background-color:#4267B2;
    border-radius: 10%;
}

h1{
    font-size: 3rem;
    text-align:center;
    margin:auto;
    background-color: #FFC700;
    width:50%;
    padding:1%;
    margin-bottom: 2%;
}

#text {
    font-size: 1.5rem;
    background-color: #FFF455;
    padding:4rem;
    width:50%;
    text-align: center;
    margin:auto;
}

.data {
    padding:1%;
    background-color: #4CCD99;
    display:flex;
}

.info {
    display:flex;
    background-color: #FFF455;
    padding:10px;
}

.list {
    font-size:1.4rem;
    width:50%;
    margin-right:auto;
    text-align: center;
}

ol{
    list-style-position: inside;
}

a {
    margin:auto;
}